body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("./media/img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

h1 {
  font-family: "arial";
  color: white;
  font-size: 80px;
  text-align: center;
}

p {
  font-size: 100px;
  background-color: rgba(1, 1, 1, 0.5);
  color: white;
  padding: 10px;
  font-family: monospace;
  border-radius: 10px;
}

p.date {
  font-size: 28px;
}
